$dark-blue:#0A285F;
$normal-blue:#0075BE;
$light-blue: #5EBDFC;

$dark-yellow:#D5A100;
$normal-yellow:#FFCC00;
$light-yellow: #EFFCD5;

$dark-red: #CC0000;
$red: #FB1B1B;

$orange: #EE6B2F;

$green: #4DAD5B;

$dark-grey:#919191;
$normal-grey:#DFDFDF;
$light-grey: #F5F5F5;

$white: #ffff;

$black:#000000;
