.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.App-link {
  color: blue;
}

.App-body{
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.button {
  background-color: #ee1515;
  text-align: center;
  color: white;
  width: 80px;
  margin-top: 10px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid black;
  margin: 5px;
}

.button:hover { 
  background-color: #222224;
  color: white;
}

.button:disabled{
  opacity: 0.8;
}

.container{
  height: 400px;
  width: auto;
  background-color:  #ccd9ff;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #5c5b5b;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.child{
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  width: 70%;
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.555);
  transition: 0.3s;
}

@media only screen and (max-width: 720px) {
  .child {
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    width: 95%;
    height: 80%;
    font-size: 10px;
  }
}

.loader {
  margin: 0;
  border-radius: 50%;
  height: 20%;
  animation: spin 3s linear infinite;
}

@media only screen and (max-width: 720px) {
  .loader {
    margin: 0;
    border-radius: 50%;
    height: 5%;
    animation: spin 3s linear infinite;
  }  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.h1{
  margin: auto;
  width: fit-content;
  align-content: center;
  color: black;
  font-weight: bold;
  font-size: medium;
  background-color: #ccd9fff1;
  opacity: 95%;
  border-radius: 10%;
  text-transform: capitalize;
}

@media only screen and (max-width: 720px) {
  .h1{
    margin: auto;
    width: fit-content;
    align-content: center;
    color: black;
    font-weight: bold;
    font-size: small;
    background-color: #ccd9fff1;
    opacity: 95%;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 720px) {
  .h1-spinner{
    font-size: small;
    color: black;
  }
}

.h2{
  display: inline;
  text-transform: capitalize;
  color: #af0d0d;
}


.p3{
  font-weight: bold;
  display: inline;
  color: rgb(38, 38, 182);
}

.list{
  list-style-position: outside;
  list-style-type: none;
  padding: 5px;
}

.atributes{
  background: #bccefc;
  margin: 5px 30px;
  border: solid 1px;
  border-color: rgb(39, 39, 39);
  padding: 2px;
  border-radius: 20px;
}

@media only screen and (max-width: 720px) {
  .atributes{
    background: #bccefc;
    margin: 5px 30px;
    padding: 2px;
  }
  
}

.placeholder{
  width: 25%;
}

@media only screen and (max-width: 720px) {
  .placeholder{
    width: 100px;
  }
}

.text-input{
  border: 2px solid black;
  width: 100px;
  height: 18px;
  font-size: 12px;
  border-radius: 5px;
}

.searchbutton{
  width: 80px;
  height: 25px;
  font-size: 13px;
  background-color: #ee1515;
  text-align: center;
  border: 2px solid black;
  color: white;
  margin: 5px;
  border-radius: 10px;
}

.catchallbutton{
  width: 120px;
  height: 25px;
  font-size: 13px;
  background-color: #3b4cca;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
}

.dropdown{
  border: 2px solid black;
  margin: 2px;
  border-radius: 10px;
}

.number{
  padding: 2%;
}

.flex-container{
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  list-style: none;
  height: 400px;
  justify-content: space-between;
  background-color:  #ccd9ff;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #5c5b5b;
  padding: 10px;
}::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.poke-button{
  //background:url(/great-ball.png);
  background-size: cover;
  align-content: space-around;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

@media only screen and (max-width: 730px) {
  .poke-button{
      //background:url(/great-ball.png);
      background-size: cover;
      align-content: space-around;
      margin: 0;
      padding: 0;
      width: 60px;
      height: 60px;
      cursor: pointer;
      border: none;
      outline: none;
      margin-bottom: 20px;
  }
}

.poke-button:active {
  opacity: 80%;
  transform: translateY(4px);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-image: url(/background.png);
  background-size: cover;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
