.loader {
    margin: auto;
    border-radius: 50%;
    width: 8%;
    height: 8%;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }