
.button {
    background-color: crimson;
    text-align: center;
    color: white;
    width: 15%;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid gray
}

.button:hover { 
    background-color: black;
    color: white;
}

.button:disabled{
    opacity: 0.7;
}

.number{
    padding: 2%;
}