.number{
    padding: 2%;
}

.flex-container{
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    list-style: none;
    height: 400px;
    justify-content: space-between;
    background-color:  #ccd9ff;
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px #5c5b5b;
    padding: 10px;
}::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.poke-button{
    background:url(../../img/great-ball.png);
    background-size: cover;
    align-content: space-around;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.poke-button:active {
    opacity: 80%;
    transform: translateY(4px);
  }
