.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.App-link {
  color: blue;
}

.App-body{
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
}
