.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.App-link {
  color: blue;
}

.App-body{
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color:  #ccd9ff;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #5c5b5b;
  width: 40%;
}
